<!-- <p>mi-perfil works!</p> -->

<!--Título de la página-->

<div class="p-5">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12">
          <h1>Perfil</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Profile Image -->
  <div class="card card-primary card-outline">
    <div class="card-body box-profile">
      <h3 class="profile-username text-center">{{ user.admin_name }}</h3>

      <p class="text-muted text-center">{{ user.username }}</p>

      <ul class="list-group list-group-unbordered mb-3">
        <li class="list-group-item">
          <b>Email</b> <a class="float-right">{{ user.email }}</a>
        </li>
      </ul>

      <a
        (click)="goToPage2('Dashboard/EditPerfil', user.id)"
        class="btn btn-primary btn-block"
        ><b>editar</b></a
      >
    </div>
    <!-- /.card-body -->
  </div>
</div>

<!-- /.card -->
